#{extends 'main.html' /} 
#{set title:'Change your profile' /} 
#{set activePage: 'profile' /} 
#{include 'nav.html' /}




<section class="ui segment" id="sectionshad">
  <h2 class="ui orange header">
    <i class="settings icon"></i>
    <div class="content">
     Edit your profile here....
    </div>   
  </h2> 
</section>
<section class="ui form segment" id = "background">
  <form action="/settingsChange/${user.id}" method="POST" class="ui form">  
    <div class="ui fluid form segment" id="bckgrdnoshad">    
      <div class="three fields">
        <div class="field">
          <label>First Name:</label>
          <input placeholder="${user.firstName}" type="text" name="firstName">
        </div>
        <div class="field">
          <label>Last Name:</label>
          <input placeholder="${user.lastName}" type="text" name="lastName">
        </div>
        <div class="field">
          <label>Age:</label>
          <input placeholder="${user.age}" type="number" name="age">
        </div>
      </div> 
      <div class="two fields">              
        <div class="field">
          <label>Address Line 1:</label>
          <input placeholder="${user.addr1}" type="text" name="addr1">
        </div>       
        <div class="field">
          <label>Address Line 2:</label>
          <input placeholder="${user.addr2}" type="text" name="addr2">
        </div>
      </div>    
      <div class="three fields">
        <div class="field">
          <label>City:</label>
          <input placeholder="${user.city}" type="text" name="city">
        </div>
        <div class="field">
          <label>Location (State):</label>        
          <div class="ui selection dropdown">
		    <input name="state" type="hidden" id="stateForGeo" onchange="resetLatLng()">
			<div class="default text">${user.state}</div>
			<i class="dropdown icon"></i>
			<div class="menu">
			  <div class="item" data-value="Alabama">Alabama</div>
			  <div class="item" data-value="Alaska">Alaska</div>
			  <div class="item" data-value="Arizona">Arizona</div>
			  <div class="item" data-value="Arkansas">Arkansas</div>
			  <div class="item" data-value="California">California</div>
			  <div class="item" data-value="Colorado">Colorado</div>
			  <div class="item" data-value="Connecticut">Connecticut</div>
			  <div class="item" data-value="District of Columbia">District of Columbia</div>
		      <div class="item" data-value="Florida">Florida</div>
			  <div class="item" data-value="Georgia">Georgia</div>
			  <div class="item" data-value="Hawaii">Hawaii</div>
			  <div class="item" data-value="Idaho">Idaho</div>
			  <div class="item" data-value="Illinois">Illinois</div>
			  <div class="item" data-value="Indiana">Indiana</div>
			  <div class="item" data-value="Kansas">Kansas</div>
			  <div class="item" data-value="Kentucky">Kentucky</div>
			  <div class="item" data-value="Louisiana">Louisiana</div>
			  <div class="item" data-value="Maine">Maine</div>
			  <div class="item" data-value="Maryland">Maryland</div>
			  <div class="item" data-value="Massachusetts">Massachusetts</div>
			  <div class="item" data-value="Michigan">Michigan</div>	
			  <div class="item" data-value="Minnesota">Minnesota</div>
              <div class="item" data-value="Mississippi">Mississippi</div>
              <div class="item" data-value="Missouri">Missouri</div>
              <div class="item" data-value="Montana">Montana</div>
              <div class="item" data-value="Nebraska">Nebraska</div>
              <div class="item" data-value="Nevada">Nevada</div>
              <div class="item" data-value="New Hampshire">New Hampshire</div>
              <div class="item" data-value="New Jersey">New Jersey</div>
              <div class="item" data-value="New Mexico">New Mexico</div>
              <div class="item" data-value="New York">New York</div>
              <div class="item" data-value="North Carolina">North Carolina</div>
              <div class="item" data-value="North Dakota">North Dakota</div>
              <div class="item" data-value="Ohio">Ohio</div>
              <div class="item" data-value="Oklahoma">Oklahoma</div>
              <div class="item" data-value="Oregon">Oregon</div>
              <div class="item" data-value="Pennsylvania">Pennsylvania</div>
              <div class="item" data-value="Rhode Island">Rhode Island</div>
              <div class="item" data-value="South Carolina">South Carolina</div>
              <div class="item" data-value="South Dakota">South Dakota</div>
              <div class="item" data-value="Tennessee">Tennessee</div>
              <div class="item" data-value="Texas">Texas</div>
              <div class="item" data-value="Utah">Utah</div>
              <div class="item" data-value="Vermont">Vermont</div>
              <div class="item" data-value="Virginia">Virginia</div>
              <div class="item" data-value="Washington">Washington</div>
              <div class="item" data-value="West Virginia">West Virginia</div>
              <div class="item" data-value="Wisconsin">Wisconsin</div>
              <div class="item" data-value="Wyoming">Wyoming</div>	
            </div> <!--  div class = "menu" -->
	      </div> <!-- ui selection dropdown -->
        </div> <!-- state field -->  
        <div class="field">
          <label>Zip:</label>
          <input placeholder=${user.zip} type="text" name="zip" id="zipForGeo" oninput="resetLatLng()">
        </div>    
      </div><!-- three fields -->  
      <div class="two fields">
        <div class="field">
          <label>Email:</label>
          <input placeholder=${user.email} type="text" name="email" disabled = "disabled">
        </div>
        <div class="field">
          <label>Password:</label>
          <div class="ui left icon input">
            <input type="password" name="password" disabled = "disabled">
            <i class="lock icon"></i>
          </div>              
        </div>
      </div> <!-- two fields --> 
      <!-- latlng notification box only appears if a User changes state/zip -->     
      <div class="ui fluid form segment" id="notificationBox" >       
        <h3 id="latlnginfo"> You've changed zip/state Please click the 'Get Latitude/Longitude' button below to get the location of your address before hitting 'Signup'. </h3> 
        <hr>      
        <div class="ui orange button" id="notButton" onclick="getGeolocation()">Get Latitude/Longitude</div>       
        <div class="two fields" id="latlng">
          <div class="field">
            <label>Latitude:</label>
            <input id="latitude" type="text"  name="lat">
          </div>
          <div class="field">
            <label>Longitude:</label>
             <input id="longitude" type="text"  name="lng">             
          </div>
        </div><!--  two fields for lat/lng -->        
      </div> <!-- lat lng notification box -->    
      <button class="ui blue submit button">Submit</button>     
      <button class="ui blue submit button" onClick="goBack()">Cancel</button>      
      <div class="ui error message"></div>
      <img class="ui tiny right floated image" src="/public/images/usaflagsmall.png">
    </div> <!-- ui fluid form segment -->
  </form>
</section>

<script src="@{'/public/javascripts/profileindex.js'}"></script>
<script src="@{'/public/javascripts/geolocateProfile.js'}"></script>
<!-- for GeoCode -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> 
