#{extends 'main.html' /} 
#{set title:'Register an Office' /} 
#{set activePage: 'officeCreate' /} 
#{include 'nav.html' /}

<section class="ui segment" id="sectionshad">
  <h2 class="ui orange header">
    <i class="building icon"></i>
    <div class="content">
     <h3> Create new Office </h3>
    </div>   
  </h2>   
</section>
<section class="ui segment" id="background">  
  <!-- Commented as using AJAX <form action="/officeregister" method="POST" class="ui form"> -->
  <form class="ui form segment" id="bckgrdnoshad">     
    <div class="two fields">
      <div class="field">
        <label>Office Title:</label>
        <input placeholder="Office title" type="text" name="officeTitle">
      </div>
      <div class="field">
        <label>Office Description:</label>
        <input placeholder="Office description" type="text" name="officeDescript">
      </div>        
    </div> <!-- two fields -->          
           
    <!--   AJAX notification notificationbox introduced to hide entire container in officeIndex.js -->
    <div class="ui fluid segment" id="notificationBox">
      <div id="notification"></div>
    </div> 
    
    <button class="ui blue submit button">Signup</button>
    <div class="ui error message"></div>
    <img class="ui tiny right floated image" src="/public/images/usaflagsmall.png">  
  </form>
</section> 

<script src="@{'/public/javascripts/officeIndex.js'}"></script>

