#{extends 'main.html' /} 
#{set title:'Donation Request' /} 
#{set activePage: 'report' /} 
#{include 'nav.html' /}




<section class="ui segment" id = "background">
  <h2 class="ui orange header">
    <i class="table icon"></i>
	<div class="content">List Donations</div>
  </h2>
  <ol class="ui list">
    <table class="ui table">
	  <thead>
	    <tr>
		  <th>Donors</th>
		  <th>Age</th>
		  <th>Location</th>
		  <th>Amount($)</th>
		  <th>Method donated</th>
		  <th>Date donated</th>
		</tr>
	  </thead>
	  <tbody>
	    #{list items:donations, as:'donation'}
		<tr>
		  <td>${donation.from.firstName}  ${donation.from.lastName}</td>
		  <td>${donation.from.age}</td>
		  <td>${donation.from.state}</td>
		  <td>${donation.received}</td>
		  <td>${donation.methodDonated}</td>
		  <td>${donation.donateDate}</td>
		</tr>
		#{/list}
	  </tbody>
    </table>
  </ol>
  <img class="ui tiny right floated image" src="/public/images/usaflagsmall.png">
</section>



