/* used on segments in each page to give a uniform background colour and shadowing */
#background, #sectionshad, #sectionshad2, #sectionshad3
{
  background-color: #ffffa4;
  box-shadow: 10px 10px 5px grey;	
}

/* same as #background with no shadow. Used in divs  */
#bckgrdnoshad, #sectionnoshad
{
  background-color: #ffffa4;  
}


/* Used in divs that require a contrasting colour  */
#bckgrdcontrast
{
  background-color: #ff8000;  
}

/* used on logout to draw user's attention to either signup or login */
#attention
{
    width: 1000px;
    padding: 40px;
    border: 25px solid navy;
    margin: 25px;	
	
	
	
}

/* nav bar has shadow around it */
#navbar
{
   box-shadow: 10px 10px 5px grey;		
}





