#{extends 'main.html' /}
#{set title:'Donation Request' /}
#{set activePage: 'welcome' /} 
#{include 'nav.html' /}

<section class="ui segment" id = "background">
  <h1 class = "ui large header">Welcome</h1>
  <div class="ui four column aligned relaxed fitted stackable grid">
    <div class="column">
      <p>
	    <i> Homer for president. </i>
	  </p>
	  <p>
	    <i> Time for a change </i>
	  <p>Out with Boring Abamo.</p>
	  <p>Giving has never been so easy.</p>
	  <p>
	    Just click <a href="/login"> here </a> to log in.
	  </p>
	  <p>Then go to the Donation page and empty your wallet </p>	
    </div>
    <div class="left aligned column">
      <img src="/public/images/homerFFFFA4.gif">
    </div>
  </div>  
</section> 

