#{extends 'main.html' /} 
#{set title:'Donor Location' /} 
#{set activePage: 'donorLocation' /} 
#{include 'nav.html' /}

<section class="ui segment" id="sectionshad">
  <h2 class="ui orange header">
    <i class="world icon"></i>
    <div class="content">
     <h3> Locate Donors Worldwide </h3>
    </div>   
  </h2>   
</section> 
<section class="ui segment" id="background" >
  <div class="ui grid">
    <div class="sixteen wide column">
	  <section class="ui segment">
	    <h3>Donor locations</h3>
	    <div id="googleMap" style="width:100%;height:400px;"></div>  
	    <button type="button" onclick="start()">Start</button>
        <button type="button" onclick="stop()">Stop</button>
        <button type="button" onclick="filter()">Filter</button>
        <button type="button" onclick="reset()">Reset</button>  	    
	  </section>
    </div>
  </div> <!-- ui grid -->
  <div class="ui hidden divider"></div>	
  <img class="ui tiny right floated image" src="/public/images/usaflagsmall.png">
</section>	

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="/public/javascripts/donorlocation.js"></script> 